@media (min-width: 767px) {
  body {
    width: 100%;
  }

  article {
    max-width: 1000px;
  }

  main {
    margin: auto;
  }

  .question--wrapper {
    display: flex;
    gap: 1em;
  }

  main h1 {
    font-size: 3rem;
  }

  main p {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  article h3 {
    margin-left: auto;
  }

  .start--quiz--btn {
    font-size: 1.5rem;
    width: 200px;
  }

  .wrapper h3 {
    font-size: 1.4rem;
  }

  .answer--btn {
    font-size: 1rem;
    height: 55px;
    max-width: 200px;
    position: relative;
  }

  button {
    font-size: 1.5rem;
  }

  button.playagain--btn,
  button.submit--btn {
    width: 200px;
    height: 55px;
    margin-left: auto;
  }

  .bottom--wrapper {
    padding: 0;
  }

  img {
    width: 500px;
    height: 400px;
  }

  section.modal--container {
    height: 20em;
  }

  .score--tally {
    font-size: 1.6rem;
  }

  .question {
    width: 100%;
  }
  .answer--out--container {
    height: 45px;
  }
}
