/* Modal styles */
section.modal--container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 15em;
  width: 80%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  background-color: #e2e5f3;
  border-radius: 0.5em;
  box-shadow: 0 2px 6px #b0b2b9;
  opacity: 0.98;
  transform: translateY(-50%);
  animation-fill-mode: forwards;
}

.modal--container.open {
  animation-name: modalFadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.modal--container.close {
  animation-name: modalFadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.close--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 1.875em;
  height: 1.875em;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close--btn:active {
  transform: scale(0.95);
}

.close--btn:hover {
  box-shadow: 0 2px 6px #b0b2b9;
}

.score--display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 1em;
  gap: 1em;
}

.score--tally {
  font-size: 1.2rem;
  margin: auto;
  border-bottom: 1px solid #293264;
  height: 1.375em;
}

.playagain--btn {
  margin: auto;
}

h3 {
  margin: 0;
}

p {
  color: #293264;
  text-shadow: 0 6px 6px whitesmoke;
}
