/* Questions stles */

.wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 0.794239px solid #dbdef0;
  gap: 0.4em;
  width: 100%;
  max-width: 1000px;
}

.question--wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  gap: 4px;
}

.wrapper--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer--btn {
  background-color: transparent;
  border: 1px solid #b8bbc9;
  font-family: inherit;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  border-radius: 25px;
  min-height: 30px;
  height: 40px;
  width: 100%;
  max-width: 160px;
  color: #293264;
  opacity: 0.7;
  cursor: pointer;
  overflow-wrap: break-word;
  white-space: normal;
  transition: background-color 0.3s ease;
  padding: 0;
}

.answer--btn:active {
  transform: scale(0.95) perspective(500px) rotateX(5deg);
}

.answer--btn:hover {
  box-shadow: 0 2px 4px #b0b2b9;
}

.wrapper > h3 {
  margin: 0;
  font-size: 1rem;
}

.answer--out--container {
  width: 40px;
  height: 40px;
}

.question {
  width: 300px;
}

/* utlity */

.selected {
  background-color: #4d5b9e;
  color: white;
  transform: scale(1.05);
}

.incorrect {
  background-color: #d00000;
}

.correct {
  background-color: #2b9348;
  color: white;
}

.pointer--disable {
  pointer-events: none;
}

.incorrect--output {
  background-image: url("/src/assets/wrong.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.85;
}

.correct--output {
  background-image: url("/src/assets/tick.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.85;
}
